@page "/"

<PageTitle>CFVM</PageTitle>

<h1>Sistema de señalización</h1>
<p>Bienvenido al servidor de enclavamientos del parque vaporista de Marratxí.</p>

<div class="alert alert-warning" role="alert">
    Para operar el sistema es necesario ingresar con las credenciales de un usuario válido.
</div>
<p><small>Esta instalación que estás disfrutando no sería posible sin el trabajo desinteresado de Xisco, Roberto, Tomeu, Vicente, Ángel, Lluc, Tomás, Domingo, Pelayo y Matías.</small></p>

