@page "/login"
@using MontefaroMatias.Users
@inject TopacioAuthService mvarAuthenticator
@inject NavigationManager Navigation

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username:</label>
        <InputText id="username" @bind-Value="loginModel.Username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" type="password" @bind-Value="loginModel.Password" />
    </div>
    <button type="submit">Login</button>
</EditForm>

@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        if(await mvarAuthenticator.Authenticate(loginModel.Username,loginModel.Password))
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            //Mensaje de fallo de sesión
        }
        StateHasChanged();
    }

    private class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
