@inject TopacioClient mvarClient
@using MontefaroMatias.Users
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/logoShow.gif" width="90%" style="max-width:128px">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        @if(null!=CurrentUser && CurrentUser.Level>0)
        {
            if(null!=mcolViews)
            {
                @foreach (View vista in mcolViews)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@getHref(vista)">
                            <span class="bi bi-layout-nav-menu" aria-hidden="true"></span> @vista.Name
                        </NavLink>
                    </div>
                }
            }
        }
        @if(null!=CurrentUser && CurrentUser.Level>1)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="config" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Config
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string getHref(View rhs) => string.Format("layout/{0}", rhs.Id);
    [CascadingParameter]
    public User? CurrentUser { get; set; } = null!;
    public Views? mcolViews { get; set; } = null!;
    protected async override Task OnInitializedAsync()
    {
        mcolViews = await mvarClient.getViews();        
    }
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
