.ct-error-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5em;
}

    .ct-error-icon.ct-warning::before {
        content: "⚠️"; /* Unicode advertencia */
    }

    .ct-error-icon.ct-error::before {
        content: "❌"; /* Unicode error */
    }
   
    .ct-error-icon.ct-warning {
        color: #ffc107;
    }

    .ct-error-icon.ct-error {
        color: #dc3545;
    }
